body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.head-background{
  background-image: url("dark-sky.jpg");
  background-position: 100% top;
  opacity: .95;
  height: 700px;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


.header-text {
  position: absolute;
  text-align: center;
  top: 27%;
  width: 100%;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  color: white;
  padding: 0;
}

.header-text span.border {
  font-size: 80px;
  letter-spacing: 10px;
  padding: 0;
}

#learn-more{
  position: relative;
  top: 90px;
  text-decoration: none;
  padding: 0px;
}


#learn-more h4 {
  color: white;
  text-decoration: none;
  margin-top: 0;
}

#about {
  padding: 20px;
  height: 650px;
  margin: 0;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee;
  background-color: black;
}

h3 {
  color: white;
  font-size: 50px;
}
