body {background-color: white;}

#first {border: 20px solid purple;}
#first {padding: 40px;}
#first {background-color: gray;}
#first {font-size: 64px;}
#first {text-align: center;}
#first {font-family: cursive;}



