body {
	background-image: url("Project 3.jpeg");
}

.jumbotron{border: 20px solid #2D5655;
     padding: 40px;
     background-color: gray;
     font-size: 64px;
     text-align: center;
     font-family: cursive}

#first {

 }

 #Project 3.jpeg {  
 	height: auto; 
    width: 80% 
}



