<!--Footer Section -->
<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 footer-nav">
        <ul>
            <li class="footer-nav-text"><a href="projects">Projects</a></li>
            <li class="footer-nav-text"><a href="#">Resume</a></li>
            <li class="footer-nav-text"><a href="mailto:sreeyasai0@gmail.com?subject=Saying Hello From Your Personal Website!">Email</a></li>
        </ul>
        </div>
        <div class="col-sm-3 social-icons">
        <a href="https://www.linkedin.com/in/sreeya-sai/" target="_blank"><img class="social-icon" src="img/linkedin-white.png"></a>
        <a href="https://github.com/sbssai123" target="_blank"><img class="social-icon" src="img/github-white.png"></a>
        <a href="https://www.linkedin.com/in/sreeya-sai/" target="_blank"><img class="social-icon" src="img/linkedin-white.png"></a>
        </div>
        <div class="col-sm-3">
        <p class="footer-text">
            This website was made with ❤️ by me! <br> 
            Check out the original design I made on <a href="https://www.figma.com/file/etfpOanTzt2QGHJvvkScGK/Personal-Website?node-id=0%3A1" target="_blank">Figma</a>
        </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>