<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Look at these</h1>
      <p>I love traveling! (These are from Google)</p>
    </div>
    <div class="image-container">
      <a  href="https://www.thrillist.com/entertainment/los-angeles/the-most-beautiful-places-in-california-road-trip-ideas">
        <img id="pic1" src="/images/pics/pic1.jpeg">
      </a>
      <a  href="http://www.huffingtonpost.com/conde-nast-traveler/most-beautiful-places-in-the-world_b_8701914.html">
        <img id="pic2" src="/images/pics/pic2.jpg">
      </a>
      <a href="http://welldonestuff.com/beautiful-places/">
        <img id="pic3" src="/images/pics/pic3.jpg">
      </a>
      <a href="http://inandaroundthemilitary.blogspot.com/2013/10/beautiful-and-lovely-places-1.html">
        <img id="pic4" src="/images/pics/pic4.jpg">
      </a>
      <a href="http://inyminy.com/37-most-beautiful-places-in-the-world-youve-got-to-see-before-you-die/">
        <img id="pic5" src="/images/pics/pic5.jpg">
      </a>
      <a href="https://www.thrillist.com/entertainment/los-angeles/the-most-beautiful-places-in-california-road-trip-ideas">
        <img id="pic6" src="/images/pics/pic6.jpg">
      </a>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
